*,
*::before,
*::after {
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css?family=Ubuntu");
body,
html {
  height: 100%;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  line-height: 180%;
  color: #666;
  text-align: center;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 90px;
  top: 0;
  left: 0;
  transition: 0.5s;
  background-color: #666;
}

.navbar.black {
  background: rgba(0, 0, 0, 0.8);
  height: 80px;
  width: 140px;
  padding: 10px 50px;
}

.navbar .logo {
  float: left;
  margin-left: 20px;
}
.navbar .logo img {
  display: block;
  width: 100%;
  transition: 0.5s;
}
.navbar.black .logo {
  margin-top: 0%;
}
.navbar.black .logo img {
  height: 60px;
}
.navbar ul {
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar ul li {
  list-style: none;
  line-height: none;
  font-size: 18px;
  color: white;
  padding: 5px 15px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 1s;
  text-shadow: 0 0 10px #000;
}

.navbar.black ul li {
  color: #fff;
  line-height: 20px;
}

.navbar ul li.active,
.navbar ul li:hover {
  color: orange;
  cursor: pointer;
}

.body-container {
  display: flex;
  overflow: hidden;
}

.box {
  flex: 1;
  margin: 10px;
  padding: 20px;
  border: none;
  transition: transform 0.3s, background-color 0.3s;
}

.box:hover {
  transform: scale(1.07);
  background-color: orange;
}

.box h2 {
  margin-top: 0;
}

.box p {
  margin-bottom: 0;
}

.box-heading{
  display: flex;
  align-items: center;
}

.box-heading img{
  width: 62px;
  height: 76px;
}

.clients{
  display: flex;
  justify-content: space-around;
}

.clients img{
  width: 62px;
  height: 76px;
  margin: 1%;
}